{{id}}
<div class="row" *ngIf="isLoaded&&errMsg==''; else loading">

    <div class="col-3">
        <div class="border border-3 m-3">
            <h6>{{user.userName}}</h6>
            <h6>{{user.email}}</h6>
            <h6>{{user.address}}</h6>
            <h6>{{user._id}}</h6>
            <h6>{{user.createdAt}}</h6>
            <h6>{{user.updatedAt}}</h6>
            <a class="btn btn-danger text-white" (click)="delete(this.id)">delete</a>
            <a class="btn btn-primary text-white" (click)="edit(this.id)">edit</a>
        </div>
    </div>
</div>

<ng-template #loading>
    <div class="alert alert-danger" *ngIf="!isLoaded&& errMsg==''"> <img src="assets/Loading_icon.gif">
    </div>
    <div class="alert alert-danger" *ngIf="isLoaded&& errMsg!=''">
        {{errMsg}}
    </div>
</ng-template>