{{>header}}
{{>navbar}}
<form method="post">
	<input placeholder="address type" name="addrType">
		<input placeholder="address details" name="addrDetails">
		<button type="submit">ADD Address</button>

</form>
{{>footer}}