{{>header}}
{{>navbar}}
    <form method="post">
         {{!-- action="/addPostLogic"> --}}
        <div class="mb-3">
            <input placeholder="Name" name="name" 
            class="form-control" value="{{data.name}}">
            {{#if e.name}}
            <p>invalid name</p>
            {{/if}}
        </div>
        <div class="mb-3">
            <input placeholder="Email" name="email" class="form-control"
            value="{{data.email}}">
            {{#if e.email}}
            <p>invalid email</p>
            {{/if}}
        </div>
        <div class="mb-3">
            <input placeholder="password" name="password" class="form-control" value="{{data.password}}">
  {{#if e.password}}
            <p>invalid password</p>
            {{/if}}      
      </div>
        <div class="mb-3">
            <button class="btn btn-primary">Add</button>
        </div>
    </form>
{{>footer}}