{{>header}}
{{>navbar}}
<h3>{{pageContent}}</h3>
<form>
	<input type="text" placeholder="name" name="name">
	<input type="email" placeholder="email" name="email">
	<input type="number" placeholder="age" name="age">
	<button type="submit">submit</button>
</form>
{{>footer}}