{{>header}}
{{>navbar}}
<form method="post">
 
 
   <div class="mb-3">
    <input type="text-area" class="form-control" placeholder="Comment content" name="comment" value="{{article.comment}}">
  
 
  <button class="btn btn-primary">Add</button>
</form>
{{>footer}}