<div class="alert alert-danger">{{errMsg|json}}</div>
<form [formGroup]="loginForm" (ngSubmit)="login()" class="container">
    <div class="mb-3 row">
        <input class="form-control" type="email" placeholder="email" formControlName="email" email>
        <div class="alert alert-danger" *ngIf="errMsg.email">{{errMsg.email}}</div>
    </div>
    <div class="mb-3 row">
        <input class="form-control" placeholder=" password" formControlName="password" type="password" />
        <div class="alert alert-danger" *ngIf="errMsg.password">{{errMsg.password}}</div>
    </div>

    <button class="btn btn-success" type="submit">login</button>
</form>